<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gifEmoji</key>
	<dict>
		<key>icon</key>
		<string>/other/im3.0/asset/img/icon/ico_stock.png</string>
		<key>list</key>
		<array>
			<dict>
				<key>img</key>
				<string>cd.gif</string>
				<key>title</key>
				<string>[抄底]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>gl.gif</string>
				<key>title</key>
				<string>[给力]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>jc.gif</string>
				<key>title</key>
				<string>[加仓]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>jac.gif</string>
				<key>title</key>
				<string>[减仓]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>mc.gif</string>
				<key>title</key>
				<string>[满仓]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>qc.gif</string>
				<key>title</key>
				<string>[清仓]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>mmm.gif</string>
				<key>title</key>
				<string>[买买买]</string>
			</dict>
		</array>
	</dict>
	<key>emoji</key>
	<dict>
		<key>icon</key>
		<string>/other/im3.0/asset/img/icon/ico_emoji.png</string>
		<key>list</key>
		<array>
			<dict>
				<key>img</key>
				<string>Expression_1.png</string>
				<key>title</key>
				<string>[微笑]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_2.png</string>
				<key>title</key>
				<string>[撇嘴]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_3.png</string>
				<key>title</key>
				<string>[色]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_4.png</string>
				<key>title</key>
				<string>[发呆]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_5.png</string>
				<key>title</key>
				<string>[得意]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_6.png</string>
				<key>title</key>
				<string>[流泪]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_7.png</string>
				<key>title</key>
				<string>[害羞]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_8.png</string>
				<key>title</key>
				<string>[闭嘴]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_9.png</string>
				<key>title</key>
				<string>[睡]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_10.png</string>
				<key>title</key>
				<string>[大哭]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_11.png</string>
				<key>title</key>
				<string>[尴尬]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_13.png</string>
				<key>title</key>
				<string>[调皮]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_14.png</string>
				<key>title</key>
				<string>[呲牙]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_15.png</string>
				<key>title</key>
				<string>[惊讶]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_16.png</string>
				<key>title</key>
				<string>[难过]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_17.png</string>
				<key>title</key>
				<string>[得意]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_18.png</string>
				<key>title</key>
				<string>[冷汗]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_21.png</string>
				<key>title</key>
				<string>[偷笑]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_22.png</string>
				<key>title</key>
				<string>[可爱]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_23.png</string>
				<key>title</key>
				<string>[白眼]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_24.png</string>
				<key>title</key>
				<string>[傲慢]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_25.png</string>
				<key>title</key>
				<string>[饥饿]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_26.png</string>
				<key>title</key>
				<string>[困]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>delete.png</string>
				<key>title</key>
				<string>删除</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_27.png</string>
				<key>title</key>
				<string>[惊恐]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_28.png</string>
				<key>title</key>
				<string>[流汗]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_29.png</string>
				<key>title</key>
				<string>[憨笑]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_30.png</string>
				<key>title</key>
				<string>[大兵]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_31.png</string>
				<key>title</key>
				<string>[奋斗]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_33.png</string>
				<key>title</key>
				<string>[疑问]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_34.png</string>
				<key>title</key>
				<string>[嘘]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_35.png</string>
				<key>title</key>
				<string>[晕]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_36.png</string>
				<key>title</key>
				<string>[激动]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_37.png</string>
				<key>title</key>
				<string>[衰]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_40.png</string>
				<key>title</key>
				<string>[再见]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_41.png</string>
				<key>title</key>
				<string>[擦汗]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_42.png</string>
				<key>title</key>
				<string>[抠鼻]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_43.png</string>
				<key>title</key>
				<string>[鼓掌]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_44.png</string>
				<key>title</key>
				<string>[糗大了]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_45.png</string>
				<key>title</key>
				<string>[坏笑]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_46.png</string>
				<key>title</key>
				<string>[左哼哼]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_47.png</string>
				<key>title</key>
				<string>[右哼哼]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_48.png</string>
				<key>title</key>
				<string>[哈欠]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_49.png</string>
				<key>title</key>
				<string>[鄙视]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_50.png</string>
				<key>title</key>
				<string>[委屈]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_51.png</string>
				<key>title</key>
				<string>[快哭了]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_52.png</string>
				<key>title</key>
				<string>[阴笑]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>delete.png</string>
				<key>title</key>
				<string>删除</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_53.png</string>
				<key>title</key>
				<string>[亲亲]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_54.png</string>
				<key>title</key>
				<string>[吓]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_55.png</string>
				<key>title</key>
				<string>[可怜]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_57.png</string>
				<key>title</key>
				<string>[西瓜]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_58.png</string>
				<key>title</key>
				<string>[啤酒]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_61.png</string>
				<key>title</key>
				<string>[咖啡]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_63.png</string>
				<key>title</key>
				<string>[猪头]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_68.png</string>
				<key>title</key>
				<string>[心碎]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_79.png</string>
				<key>title</key>
				<string>[拥抱]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_83.png</string>
				<key>title</key>
				<string>[胜利]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_85.png</string>
				<key>title</key>
				<string>[勾引]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_86.png</string>
				<key>title</key>
				<string>[拳头]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_88.png</string>
				<key>title</key>
				<string>[爱你]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_89.png</string>
				<key>title</key>
				<string>[no]</string>
			</dict>
			<dict>
				<key>img</key>
				<string>Expression_90.png</string>
				<key>title</key>
				<string>[ok]</string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string>delete.png</string>
				<key>title</key>
				<string>删除</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
